NODE_ENV=development

APP_PORT=3000
APP_NAME="ADui Assistant Bot API"
API_PREFIX=api

DATABASE_TYPE=mysql
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
DATABASE_NAME=bot_db

WORKER_HOST=redis://redis:6379/1
